html, body {
    height: 100%;
    margin: 0;
    color: #fff;
    position: relative;
    width: 100%;
}

body {
    background: url('igdtuw_bg.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    background: rgb(255,255,255,0.8); 
    padding: 0.5px;
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 2px solid darkgreen;
}

.loginHeader {
    text-align: center;
    margin-left: 250px;
}

.loginHeader p {
    font-size: 18px;
    color:  #135107;
    margin: 0;
}

.loginBody form {
    margin: 80px auto 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 8px;
    position: relative; 
}

.loginInputsContainer {
    margin-top: 8px;
}

.loginInputsContainer label {
    display: block;
    font-size: 18x;
    font-weight: bold;
    color: black;
}

.loginInputsContainer input {
    height: 20px;
    width: 100%;
    border-color: 2px solid rgb(40, 86, 250);
    font-size: 15px;
    padding: 4px;
    font-style: italic;
}

.loginButtonContainer {
    margin-top: 40px;
}

.loginButtonContainer button {
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    color:#fff;
}

#a{
    background: rgb(5, 163, 97);
}

#b{
    background: rgb(211, 39, 9);
}

#c{
    margin-top: 3%;
    background: rgb(226, 172, 9);
    color: black;
}

a {
    margin-top: 3%;
    background: rgb(226, 172, 9);
    color: black;
}

/* footer{
    height: 23px;
    margin-top: 157px;
    background-color: blue;
    color: white;
    font-size: small;
} */
