body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  font-weight: bold;
  text-align: center;
  font-size: large;
}

form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  text-align: center;
  color: #000;
}

.formno {
  text-align: right;
}

.content-box,
.content-box1,
.content-box2 {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.pay {
  text-align: right;
  color: #000;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000;
}

input,
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.signature-container {
  display: flex;
}

.signature-item {
  margin: 0 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
